h5py==2.9.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.0.2
nltk==3.4.5
notebook==5.7.4
numpy==1.16.3
opencv-python==4.1.0.25
pandas==0.25.3
pandocfilters==1.4.2
scipy==1.1.0
tensorflow==1.9.0
tensorflow-gpu==1.1.0
virtualenv==16.4.3
